langgraph
langchain
langchain-groq
langgraph-checkpoint-sqlite
langchain-openai
requests
selenium
bs4
selectolax
langchain_core
dotenv
aiosqlite
langchain-community 
pillow 
pandas 
openpyxl
requests 
pymongo 
trafilatura
beautifulsoup4
google-api-python-client>=2.100.0
crawl4ai ## pip install -U crawl4ai > crawl4ai-setup
sentence_transformers 
faiss-cpu 
undetected-playwright 
playwright-stealth 
rich 
loguru
nest_asyncio
certifi
google-search-results
python-whois 
waybackpy 
hachoir
lxml 
python-whois 
waybackpy 
hachoir 
dnspython 
requests-html 
builtwith 
pyhibp 
phonenumbers
apify-client 
duckdb 
pandas
python-dotenv
pyppeteer 
nest_asyncio
pyee==11.1.0
-e .